<h1><a href="/">michael<br>luckeneder</a></h1>
<p>
<small>
    Software Engineer @ <a href="http://www.yelp.com/">Yelp</a>
</small>
</p>
<p class="view"><a href="/posts">blog  <small>my blog</small></a></p>
<p class="view"><a href="/projects">projects  <small>things i've worked on</small></a></p>


<br/>
<!-- <h3>social media</h3> -->
<p class="view"><a href="https://github.com/optiminimalist" target="tab"><i class="fa fa-github-square fa-lg"></i>  github  <small>for open source</small></a></li>
<p class="view"><a href="https://twitter.com/m_luckeneder" target="tab"><i class="fa fa-twitter-square fa-lg"></i>  twitter  <small>for random thoughts</small></a></li>
<p class="view"><a href="https://www.facebook.com/michael.luckeneder" target="tab"><i class="fa fa-facebook-square fa-lg"></i>  facebook  <small>for friends</small></a></li>
<p class="view"><a href="https://www.linkedin.com/in/mluckeneder" target="tab"><i class="fa fa-linkedin-square fa-lg"></i>  linkedin  <small>for business</small></a></li>
<p class="view"><a href="https://plus.google.com/+MichaelLuckeneder?rel=author" target="tab"><i class="fa fa-google-plus-square fa-lg"></i>  google+  <small>for google</small></a></li>
