<div class="profile">
    <section id="wrapper">
    <div itemscope itemtype="http://data-vocabulary.org/Person">
        <header id="header">
                <img id="avatar" class="2x" src="{{ site.baseurl }}assets/images/michael.jpg"/>
            <h1><span itemprop="name">Michael Luckeneder</span></h1>
            <h2><span itemprop="title">Software Engineer</span> at <i class="fa fa-yelp"></i> <span itemprop="affiliation">Yelp</span></h2>
        </header>
        </div>
    </section>
</div>